{
    "printWidth": 90,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "trailingComma": "es5",
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "", "^[./]"],
    "importOrderTypeScriptVersion": "6.0.0"
}
